@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-accent: #6568ea;

  --color-primary: #8b8cc1;
  --color-secondary: #b55f59;

  --color-success: #276e4b;
  --color-error: #d83650;
  --color-warning: #f6db42;
  --color-info: #434242d5;

  --color-background-default: #e3e3e3;

  --color-background-lighter: #ffffff;
  --color-background-light: #eeececc8;
  --color-background-dark: #c4c4c4c5;
  --color-background-darker: #9f9f9fc0;

  --color-text-default: #0d0b24b1;
  --color-transparent: transparent;

  --color-text-light: #1e1b3bb1;
  --color-text-dark: #0c0b1edb;
  /* --color-text-dark: #191830; */
}

html.dark {
  /* --color-accent: #6568ea;

  --color-primary: #8b8cc1;
  --color-secondary: #b55f59;

  --color-success: #a3eac7;
  --color-error: #d83650;
  --color-warning: #f6db42;
  --color-info: #2d2c40;

  --color-background-default: #f8efe5;

  --color-background-lighter: #f4f4f4;
  --color-background-light: #e4e4e4;
  --color-background-dark: #bcb4b4;
  --color-background-darker: #909090;

  --color-text-default: #191830b1;
  --color-transparent: transparent;

  --color-text-light: hwb(243 9% 81% / 0.2);
  --color-text-dark: #191830; */

  --color-background-default: rgb(27, 26, 32);
  --color-text-default: rgb(195, 192, 217);

  --color-background-lighter: rgba(73, 69, 94, 0.571);
  --color-background-light: rgb(46, 44, 60);
  --color-background-dark: rgba(6, 6, 9, 0.213);
  --color-background-darker: rgba(12, 11, 17, 0.673);

  --color-text-light: rgba(236, 234, 243, 0.725);
  --color-text-dark: rgb(146, 144, 162);
  --color-success: #73a78c;
  --color-error: #d83650;
  --color-warning: #f6db42;
  --color-info: #d5d4d4be;
}

/* This is a custom theme for the website. */
html.custom-theme {
  --color-background-default: rgb(61, 28, 28);
  --color-text-default: rgb(227, 202, 218);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-weight: 600;

  background-color: var(--color-background-default);
  color: var(--color-text-default);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea,
a,
button,
label {
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* These is a handful fo */

@layer base {
  button {
    @apply bg-transparent outline-none cursor-pointer border-2 rounded py-[.5em] px-[1.5rem] border-current font-semibold;
  }
  input,
  *[type='button'],
  input[type='number'],
  *[type='text'],
  textarea,
  select {
    @apply bg-transparent outline-none cursor-pointer border-2 py-[.5em] px-[1.5rem] border-current font-semibold rounded;
  }

  option {
    @apply pr-10;
  }

  pre {
    @apply text-text-light p-4 rounded whitespace-pre-wrap break-words mt-3;
  }

  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    @apply mt-3 first:mt-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-3 first:mb-0 text-2xl;
  }
  strong {
    @apply mt-8 text-lg font-semibold;
  }
  ul {
    @apply list-disc pl-5;
  }
}

@layer components {
  .panel-primary {
    @apply bg-background-light text-text-dark;
  }
  .panel-secondary {
    @apply bg-background-dark text-text-dark;
  }

  .panel-modal {
    @apply bg-background-light text-text-light;
  }

  .dialog-style pre {
    @apply bg-background-lighter text-text-light;
  }
}
